<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--	<bean id="studentService" class="com.coursera.spring_ecosystem_and_core.service.StudentServiceImpl"/>-->

	<!--	setter injection-->
	<bean id="studentService" class="com.coursera.spring_ecosystem_and_core.service.StudentServiceImpl">
		<property name="studentDao" ref="studentServiceDao"/>
		<property name="numberOfStudents" value="2"/>
	</bean>

	<bean id="studentServiceDao" class="com.coursera.spring_ecosystem_and_core.dao.StudentDaoImpl"/>
	<!--	setter injection-->

</beans>